.flex-parent1 {
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    height: 100vh;
}

.enfant1 {
    background-color: blue;
    color: white;
    height: 33vh;
}

.enfant2 {
    background-color: gray;
    height: 33vh;
}

.enfant3 {
    background-color: aquamarine;
    height: 33vh;
    color: white;
}

.enfant4 {
    background-color: gold;
    height: 33vh;
    color: white;
}

.enfant5 {
    background-color: orange;
    height: 33vh;
    color: white;
}